{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="split left">
	<h2 align="center">Enter Text or Use Mic</h2>
	<br>
		<form action="" method="post" align="left">
		{% csrf_token %}
					<input type="text" name="sen" class="mytext" id="speechToText" placeholder="">
					<button type="button" name="button" class="mic" onclick="record()"><img src="{% static 'mic3.png' %}" height="32px" width="38px" /></button>
	  				&nbsp&nbsp&nbsp&nbsp
	  				<input type="submit" name="submit" class="submit">

		</form>
		<br>
		<table cellspacing="20px">
			<tr>
				<td class="td">The text that you entered is:</td>
				<td class="td">{{ text }}</td>
			</tr>
			<tr>
				<td class="td">Key words in sentence:</td>
				<td class="td">
				<ul class="td" id="list" align="center">
  					{% for word in words %}
    				<li id="{{ i }}" style="margin-right: 8px">{{ word }}</li>
  					{% endfor %}
				</ul>
			</td>
		</tr>
	</table></div>
  <div class="split right">
  <h2 align="center">Sign Language Animation</h2>

	<div style="text-align:center">
   	<div id="animationContainer" style="width: 600px; height: 350px; background-color: #eee; display: flex; align-items: center; justify-content: center;">
      AI Animation will appear here
    </div>
   	<button class="submit" onclick="startAIAnimation()">Start Animation</button>
   	</div>
  </div>

<script>
	// WebkitSpeechRecognition API for speech-to-text conversion
	function record(){
		var recognition = new webkitSpeechRecognition();
		recognition.lang='en-IN';

		recognition.onresult = function(event){
			document.getElementById('speechToText').value = event.results[0][0].transcript;
		}
		recognition.start();
	}

	// Function to trigger AI animation (Placeholder)
	function startAIAnimation(){
		let container = document.getElementById("animationContainer");
		container.innerHTML = "<p>Generating AI Animation...</p>";
		// Future AI animation logic will go here (Canvas/WebGL rendering, etc.)
	}
</script>

{% endblock %}
